/* custom type styling */
.bs .bsx .limit .typez.Donghua, .seventh .main-seven .limit .bt span.type.Donghua, .stylesix .bsx .thumb .typez.Donghua {
    background: #0eaf23;
}

/* custom a for bvl btn */
a.bvl:hover {
    color: #7ccbda !important;
}

/* widget support styling */
div .support-widget{
    padding: 7px;
    text-align: center;
    margin: auto;
  }
div .support-widget img{
    padding-bottom:3%;
  }
div .support-btn{
    margin-top: 2%;
    background: #e02a2a;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 3px;
  }
div .support-btn:hover{
    background:white;
  }
