/* custom type styling */
.bs .bsx .limit .typez.Donghua, .seventh .main-seven .limit .bt span.type.Donghua, .stylesix .bsx .thumb .typez.Donghua {
  background: var(--donghua);
}

/* custom a for bvl btn */
a.bvl:hover, a.vl:hover {
  color: #d0d0d0 !important;
}

/* widget support styling */
div .support-widget{
  padding: 7px;
  text-align: center;
  margin: auto;
}
div .support-widget img{
  padding-bottom:3%;
}
div .support-btn{
  margin-top: 2%;
  background: var(--tplay);
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 3px;
  color: whitesmoke;
}
div .support-btn:hover{
  background: #efefef;
  color: var(--tplay);
}
.support-tooltip {
  position:relative; 
  border-bottom:1px dashed #000;
}
.support-tooltip:before {
  content: attr(data-text); 
  position:absolute;
  top:10%;
  right:30px;
  transform:translateY(-50%);
  width:250px;
  border-radius:3px;
  background:#000;
  color: #fff;
  text-align:center;
  display:none;
}
.support-tooltip:hover:before {
  display:block;
  background: var(--tplay);
  color: whitesmoke;
}
