/* custom type styling */
.bs .bsx .limit .typez.Donghua, .seventh .main-seven .limit .bt span.type.Donghua, .stylesix .bsx .thumb .typez.Donghua {
  background: var(--donghua);
}

/* custom a for bvl btn */
a.bvl:hover, a.vl:hover {
  color: #d0d0d0 !important;
}

/* widget support styling */
div .support-widget{
  padding: 7px 0;
  text-align: center;
  margin: auto;
}

div .support-btn{
  margin-top: 2%;
  background: var(--tplay);
  padding: 3px 6px;
  border-radius: 2px;
  color: #fff;
}
div .support-btn:hover, div.filter.submit button.btn.btn-custom-search:hover{
  background: #2f2f2f;
  color: #fff;
}
.darkmode div .support-btn:hover, .darkmode div.filter.submit button.btn.btn-custom-search:hover{
  background: #efefef;
  color: var(--tplay);
}

/* custom for support tooltip */
.support-tooltip {
  position:relative; 
  border-bottom:1px dashed #000;
}
.support-tooltip:before {
  content: attr(data-text); 
  position:absolute;
  top:-50%;
  left:0;
  transform:translate(-50%, -50%);
  width:250px;
  border-radius:3px;
  text-align:center;
  display:none;
}
@keyframes boom {
  0% {color: var(--tplay);}
  50% {color: #fff;}
  100% {color: var(--tplay);}
}
.support-tooltip:hover:before {
	animation: boom 2s linear infinite;
  display:block;
  background: var(--tplay);
}

/* custom for tag type content */
.ingfo .minginfo span.r.Donghua {
  background: var(--donghua);
}
.ingfo .minginfo span.r.BD {
  background: var(--bd);
}
.ingfo .minginfo span.r.TV {
  background: var(--tv);
}
.ingfo .minginfo span.r.Special {
  background: var(--special);
}
.ingfo .minginfo span.r.ONA {
  background: var(--ona);
}

/* animating support icon */
@keyframes wiggle {
  0%, 7% {
  transform: rotateZ(0);
}
15% {
  transform: rotateZ(-15deg);
}
20% {
  transform: rotateZ(10deg);
}
25% {
  transform: rotateZ(-10deg);
}
30% {
  transform: rotateZ(6deg);
}
35% {
  transform: rotateZ(-4deg);
}
40%, 100% {
  transform: rotateZ(0);
}
}
div.support-widget i{
  font-size: 40px;
  color: white;
  padding-bottom: 3%;
  }
#iconcontainer:hover > #iconku{
  animation: wiggle 2s linear infinite;
}
@media (prefers-color-scheme: light){
  body.lightmode div.support-widget i{
    color: var(--tplay);
  }
}


/* custom for jwplayer index */
.jw-controls, .jw-controls-backdrop, .jw-flag-small-player .jw-settings-menu, .jw-overlays, .jw-settings-submenu {
  z-index: 9999;
  }

/* custom for div release homepage */
.bixbox.bbnofrm .releases {
    background: var(--tplay);
}
.bixbox.bbnofrm h3, .bixbox.bixboxarc.bbnofrm h1 {
    color: #fff;
}
.darkmode .bixbox.bbnofrm .releases a.vl {
    background: #222;
    color: #fff;
}
